*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --box-shadow: 0px 0px 0px 6px rgba(210, 178, 206, 0.262);
    --box-shadow2: 0px 0px 0px 6px rgba(184, 62, 186, 0.316);
    --orange: #fcc927;
    --main-color: radial-gradient(circle, rgba(237,5,240,0.5215336134453781) 0%, rgba(7,114,241,0.41228991596638653) 100%);
    --bg-color: #cdc8c896;
    --text-color: rgb(0, 0, 0);
    --bg-button-hover:linear-gradient(90deg, rgba(61,51,176,0.6559873949579832) 24%, rgba(249,81,211,0.8352591036414566) 74%);

}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.btn{
    padding: .8rem 2.5rem;
    text-transform: uppercase;
    background: pink;
    color: black;
    border-radius: 10px;
    cursor: pointer;
}
.btn:hover{
    background: var(--orange);
    color: black;
}
.title{
    text-align: center;
    margin-bottom: 1rem;
}
.title h1{
    font-size: 3rem;
    text-transform: uppercase;
}
.title span{
    font-size: 1.2rem;
    text-transform: capitalize;
    line-height: 2;
    color: var(--main-color);
}
.message,
.empty{
    text-align: center;
    text-transform: capitalize;
    margin: 0 auto;
    margin-top: 1rem;
    width: 59%;
    padding: .5rem 1.5rem;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    background: #000;
    color: #fff;
}
.message i{
    cursor: pointer;
}
.message-container .title,
.order-container .title{
    text-transform: uppercase;
    padding-top: 5rem;
}
.empty{
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
input,
button,
textarea,
select{
    outline: none;
    border: 1px solid #55555544;
    background-color: transparent;
    width: 100%;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    margin: 1rem 0;
}
button{
    cursor: pointer;
}
input[type=submit]{
    cursor: pointer;
}

/******* FORM CONTAINER *********/
.form-container{
    background-image: url(../img/bg2.jpg);
    padding: 4rem 0;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
.form-container input::-webkit-outer-spin-button,
.form-container input::-webkit-inner-spin-button {
    -webkit-appearance: none;
     margin: 0;
}
.form-container h1{
    text-transform: uppercase;
    margin: 2rem 0;
    font-size: 2.3rem;
    text-align: center;
}
.form-container form{
    width: 30%;
    margin: 1rem auto;
    padding: 2rem;
    position: relative;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.668);
}
.form-container form label{
    text-transform: uppercase;
    width: 100%;
}
.form-container form input{
    width: 85%;
    margin-left: 2rem;
    background-color: rgba(255, 255, 255, 0.692);
}
.form-container form textarea{
    width: 85%;
    height: 200px;
}
.form-container form select{
    margin-left: 2rem;
    width: 85%;
}
.form-container form .btn{
    background: var(--main-color);
    color: var(--text-color);
    width: 85%;
    border: none;
}
.form-container form .btn:hover{
    background: var(--bg-button-hover);
    color: white;
}
.form-container p{
    text-align: center;
}
/******* BANNER *********/
.banner{
    background: rgb(250, 160, 242);
    width: 100%;
    height: 35vh;
    position: relative;
    z-index: 1;
}
.banner::before{
    position: absolute;
    content: '';
    bottom: -18%;
    right: 0;
    width: 220px;
    height: 230px;
    background-size: 150px; 
    background-repeat: no-repeat;
}
.banner .detail{
    position: absolute;
    left: 35%;
    padding: 7rem 0;
    text-transform: capitalize;
    text-align: center;
    z-index: 200;
}
.banner .detail h1{
    font-size: 4rem;
    color: #fff;
    text-transform: capitalize;
}
.banner .detail p{
    font-size: 18px;
    line-height: 2;
}
.banner.detail a{
    text-transform: uppercase;
    color: #000;
}
.banner.detail span{
    color: #fff;
}
/******* HEADER *********/
header{
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 101;
    transition: .3s;
    background-color: rgba(0, 0, 0, 0.711);
}
header.scrolled{
    background: #fff;
    box-shadow: 0 5px 20px 0.1px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
}
header.scrolled a{
    color: #000;
}
header.scrolled a:hover,
header.scrolled .icons i:hover{
    color: var(--orange);
}
header.scrolled .icons i{
    color: #000;
}
.flex{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0 auto;
}
.navbar a{
    margin: 0 1rem;
    font-size: 1rem;
    color: white;
    text-transform: uppercase;
}
.navbar a:hover,
header .icons i:hover{
    color: gold;
    text-decoration: none;
}
.header .icons{
    display: flex;
}
.header .icons{
    display: flex;
}
.header .icons i{
    margin-left: 1.2rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
}

#menu-btn{
    display: none;
}
.header .user-box{
    position: absolute;
    top: 120%;
    right: 0rem;
    background: rgba(252, 251, 247, 0.758);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding: 2rem;
    text-align: center;
    width: 20rem;
    transform: scale(0);
    transform-origin: top right;
    line-height: 2;
}
.logout-btn{
    font-size: 15px;
    height: 2.5rem;
    width: 10rem;
    background: var(--main-color);
    color: var(--text-color);
    text-transform: uppercase;
    padding: 0;
    border-radius: 4px;
}
.logout-btn:hover{
    background: var(--bg-button-hover);
}
.header .user-box.active{
    transform: scale(1.0);
    transition: .2s linear;
}
/*********** ADMIN DASHBOARD *************/
.dashboard{
    background: #cdc8c896;
    padding: 3rem;
    margin-top: -3.5rem;
    position: relative;
}
.dashboard::before{
    position: absolute;
    content: '';
    bottom: -25%;
    left: -10px;
    width: 225px;
    height: 220px;
    background-size: 225px; 
    background-repeat: no-repeat;
    z-index: 100;
}
.box-container{
    width: 100%;
    padding: 2% 8%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem,1fr));
    column-gap: 1rem;
    margin-bottom: -3rem;
}
.box-container .box{
    background: #ffffffaa;
    padding: 2rem;
    text-align: center;
    border-radius: 5px;
    margin: 1rem;
}
.box-container .box:hover{
    margin-left: 1.2rem;
    cursor: pointer;
}
.dashboard h3{
    text-align: center;
    font-size: 2rem;
}
.dashboard p{
    font-size: 20px;
    text-transform: capitalize;
    margin: .5rem 0;
}

/******* ADMIN PRODUCT PAGE *********/
.add-products{
    margin-top: -3.5rem;
    height: auto;
    background: #f5f5f5;
    position: relative;
}
.add-products .input-field textarea{
    margin-left: 2rem;
    width: 85%;
    height: 100px;
}
.show-products,
.message-container,
.order-container{
    position: relative;
    background: var(--bg-color);
    margin-top: -3.5rem;
}
.show-products .box-container{
    grid-template-columns: repeat(auto-fit, minmax(20rem,1fr));
}
.box-container .box{
    line-height: 2;
    width: 90%;
}
.box-container .box h4{
    text-transform: capitalize;
    font-size: 24px;
    text-align: center;
}
.box-container .box details{
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    line-height: 1.5;
}
.box-container .box .p_price,
.box-container .box .stock{
    text-transform: capitalize;
    font-size: 18px;
    text-align: center;
    background-color: pink;
}
.box-container .box .category{
    text-transform: capitalize;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.box-container .box img{
    height: 35vh;
    width: 100%;
    margin-bottom: 1rem;
}
.dashboard .box-container .box a{
    display: block;
    color: black    ;
    background-color: #deded38e;
    font-size: 18px;
}
.box-container .box input{
    width: 50%;
    height: 2.5rem;
    text-align: center;
    background: pink;
}
.box-container .box .btn-1{
    color: black;   
    background: pink;
    padding: .5rem 1.5rem;
    text-transform: capitalize;
    line-height: 2;
    border-radius: 5rem;
}
.edit,
.delete{
    color: black;   
    background: pink;
    padding: .5rem 1.5rem;
    text-transform: capitalize;
    border-radius: 5px;
    line-height: 2;
}
.edit:hover,
.delete:hover{
    color: pink;
    background-color: black;
}
.update-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    background: pink;
    z-index: 1100;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    display: none;
}
.update-container img{
    width: 50%;
    height: 50vh;
}
.update-container form{
    border-radius: 30px;
    box-shadow: var(--box-shadow);
    width: 50%;
    background: #fff;
    padding: 1rem;
    margin: 2rem auto;
    text-align: center;
}
.update-container .edit,
.update-container .btn{
    width: 100%;
    cursor: pointer;
}

/******* INVENTORY ADMIN DATA DISPLAY *********/
.product-display{
    width: 50%;
    height: 100%;
    background: #cdc8c896;
    column-gap: 2rem;
    padding: 10px;
    float: left;
}
.scroll-table{
    max-height: 50vh; 
	overflow-y: scroll; 
    border-radius: 10px;
}
.scroll-table table thead{
    position: sticky;
	top: 0px; 
}
.product-display .result{
    font-size: 28px;
    position: relative;
}

/******* ORDERS DISPLAY *********/
.order-container .box-container{
    width: 100%;
    padding: 2% 8%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem,1fr));
    column-gap: 1rem;
}
.order-container .box-container .box{
    background: #ffffffaa;
    padding: 2rem;
    text-align: start;
    border-radius: 5px;
    margin: 1rem;
}
.order-container .box-container .box:hover{
    box-shadow: var(--box-shadow);
    margin-left: 1.2rem;
    cursor: pointer;
}

/******* ADMIN PANNEL RECENT ORDER DISPLAY *********/
.table-display{
    width: 100%;
    height: 100%;
    background: #cdc8c896;
    column-gap: 2rem;
    padding: 10px;
}
.table-display .result{
    text-align: center;
}
.scroll-table{
    max-height: 50vh; 
	overflow-y: scroll; 
    border-radius: 10px;
}
.scroll-table table thead{
    position: sticky;
	top: 0px; 
    text-align: center;
}
.table-display td{
    text-align: center;
}
.table-display .result{
    font-size: 28px;
    position: relative;
}



/************** LIVE CHAT / MESSAGE *****************/
.message-container{
    position: fixed;
    top: 9em;
    left: 50rem;
    right: 0;
    border-radius: 1.5rem;
    height: 80%;
    width: 40%;
    overflow-y: auto;
    background: pink;
    z-index: 1100;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    display: none;
}
.message-container i{
    font-size: 25px;
    float: right;
    cursor: pointer;
}
.message-container h1{
    text-transform: uppercase;
    margin-top: -3.5rem;
    font-size: 2.3rem;
    text-align: center;
}
.message-container form{
    width: 100%;
    margin: 1rem auto;
    padding: 2rem;
    position: relative;
    border-radius: 5px;
}
.message-container form label{
    text-transform: uppercase;
    width: 100%;    
}
.message-container form input{
    width: 100%;
}
.message-container form textarea{
    overflow: hidden;
    width: 85%;
    height: 8vh;
    float: left;
}
.message-container form .message-btn:hover{
    background: var(--main-color);
    color: white;
}
.message-container p{
    text-align: center;
}
.message-container form button{
    margin-right: -1rem;
    width: 15%;
    height: 8vh;
    float: right;
    background-color: black;
    text-transform: uppercase;
    color: gold;
    border: none;
    cursor: pointer;
}
.message-container a.send-message{
    display: inline-block;
    padding-top: .8rem;
    height: 6.5vh;
    text-align: center;
    font-size: 18px;
    width: 100%; 
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    border-radius: 4px;
}

.convo{
    background-color: #e0e0e0;
    width: 80%;
}
.convo p{
    text-align: left;
    margin-left: 2rem;
    font-size: 15px;
    font-weight: 500;
}
.convo h5,
.convo-user h5{
    text-align: left;
    margin-top: -1rem;
    margin-left: 2rem;
    height: 2rem;
    font-weight: 400;
    font-size: 17px;
}
.convo .delete-btn{
    float: right;
    margin-top: -2.5rem;
    margin-right: -1rem;
}
.convo .input-field textarea{
    margin-left: -5rem;
}

.convo-user{
    background-color: #DCF8C6; 
    width: 80%;
    margin: auto;
    height: auto    ;
    word-wrap: break-word;
    overflow-wrap: break-word;
    float: right;
    margin-top: 1rem;
    

}
.convo-user p{
    text-align: right;
    margin-right: 2rem;
    font-size: 15px;
    font-weight: 500;
}
.convo-user h5{
    text-align: left;
    padding-right: 5rem;
}



























/******* MEDIA SCREEN *********/
@media (max-width: 991px){
    #menu-btn{
        display: block;
    }
    .header .flex .navbar{
        position: absolute;
        top: 149%;
        left: 0;
        display: block;
        right: 0;
        border-top: 1px solid #000;
        background: #fff;
        transition: .3 ease;
        clip-path: polygon(0 0,100% 0, 100% 0, 0 0);
    }
    .header .flex .navbar.active{
        clip-path: polygon(0 0,100% 0, 100% 100%, 0 100%);
        
    }
    .header .flex .navbar a{
        display: block;
        margin: 2rem;
    }
    .header .flex .navbar a:hover{
        color: var(--orange);
    }
    .banner .detail{
        left: 3%;
    }
  
}